CLIENT_ID=<Entra Application ID>
CLIENT_SECRET=<Entra Application Secret>

POSTGRES_PRISMA_URL=<Postgres Prisma URL>

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=<Clerk Publishable Key for AarAuth>
CLERK_SECRET_KEY=<Clerk Secret Key for AarAuth>
NEXT_PUBLIC_CLERK_ENTERPRISE_CONNECTION_ID=<get from url of clerk dash when you select the enterprise SSO connection - samlc_123xxx321xxx>
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_ENTERPRISE_SSO_IDENTIFIER=sso@aarsleff.co.uk
