.navHeader {
  @mixin dark {
    background: linear-gradient(to right, #2E2E2E 20%, #005fae 70%);
  }
  @mixin light {
    background: linear-gradient(to right, #ffffffff 20%, #005fae 70%);
  }
}

.logo {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: var(--mantine-radius-md);
}
